@charset "UTF8";
*{
    font-family: 'Courier New', Courier, monospace;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #FFFAF2, #C9BA9E);
    background-attachment:fixed;
}

main{
    background-color: #FFFEFD;
    width: 1000px;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 5px 18px #ac9f8866;
}

h1{
    color:#352c1b;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color:#556F7A;
}

p{
    text-align: justify;
    color: #37403e;
}