@charset "UTF-8";

/*Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #233eff;
}


h1 {
    color: white;
    text-shadow: 2px 2px 0px #13207f;
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

/*Configurações modo paisagem*/
@media screen and (orientation:landscape) {
    body {
        background: url(../../imagens/cev-landscape.jpg);
        background-position: left bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


/*Configurações modo retrato*/
@media screen and (orientation:portrait) {
    body {
        background: url(../../imagens/cev-portrait.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}