@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}
@font-face {
    font-family: bebas neue;
    src: url(fontes/BebasNeue-Regular.ttf);
}

:root {
    --cor0: #2FA866;
    --cor1: #355C47;
    --cor2: #62A880;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: idroid, cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    font-family: var(--fonte-padrao);
}
header {
    background-image:linear-gradient(to top, var(--cor1), var(--cor0));
    min-height: 150px;
    text-align: center;
    text-shadow: 0px 0px 4px black;
    color: white;
    padding-top: 40px;
}
header h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
}
header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 0px 10px;
}
nav {
    text-align: left;
    text-shadow: none;
    background-color: var(--cor1);
    padding: 10px;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: larger;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: rgba(144, 238, 144, 0.563);
    color: var(--cor1);
    border-radius: 6px;
    padding: 10px 10px 5px 10px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.59);
    /*text-align: justify;*/
    font-size: large;
}
main p {
    padding: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}
article > h1 {
    color: var(--cor1);
    font-family: idroid, sans-serif;
    font-weight: 500;
}
article > h2 {
    color: var(--cor1);
    font-family: idroid, sans-serif;
    background-image: linear-gradient(to right, var(--cor2), white);
    font-weight:500 ;
}
article {
    font-family: var(--fonte-padrao);
    font-weight: light;
    font-size: medium;
    line-height: 2em;
}
.palavra {
    color: var(--cor1);
    font-weight: bold;
}
article > ul {
    list-style: none;
}
article > ul li:before {
    content: '✓ ';
}
main img{
    width: 100%;
}
main img.pequena {
    max-width:350px;
    min-width: 350px;
    display: block;
    margin: auto;
}
main a {
    background-color: var(--cor2);
    color: var(--cor1);
    text-decoration: none;
} 
#video {
    background-color: var(--cor1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}
#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor2);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
aside > h3 {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor1);
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 0.8em;
    padding: 10px;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    color: var(--cor2);
}