@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@media screen and (max-width: 600px) {
    header>h1 {
        text-align: center;
    }
    #quadro ul {
        columns: 1;
    }
}

:root {
    --cor0: #E9F4F3;
    --cor1: #BEDBDA;
    --cor2: #8BB9B7;
    --cor3: #5B9593;
    --cor4: #367A78;


    --fonte-header: 'VT323', monospace;
    --fonte-android: idroid, cursive;    
    --fonte-padrao:  Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0%;
    background-image: linear-gradient(to top, var(--cor1), transparent);
    font-family: var(--fonte-padrao);
}

header {    
    padding: 10px 0px 20px 0px;    
    border-radius: 30px;
    margin: 10px 10px 30px 10px;
    background-image: linear-gradient(to right, var(--cor3), var(--cor0));
    color: var(--cor0);    
    font-family: var(--fonte-header);
    text-align: center; 
}

header h1 {
    padding: 20px;
    color: white;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 4px;
}

header p { 
    padding: 0px 0px 20px 20px;
    margin: auto;
    max-width: 500px;    
    color: white;    
    font-size: 20px;
    font-weight: light;
    text-shadow: 1px 1px 0px var(--cor4);
}

nav {       
    display: inline-block;
    padding: 8px 20px;    
    border-radius: 30px;
    margin: auto;
    max-width: fit-content;   
    background-color: var(--cor0);    
    text-align: center;
}

nav>a {
    padding: 8px 20px;    
    border-radius: 6px;   
    color: var(--cor4);
    font-size: large;    
    text-decoration: none;
}

nav>a:hover {
    color: var(--cor2);
    transition-duration: 1s;
}

main {    
    padding: 0px;    
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;    
    font-size: large;
    text-align: justify;
}

main p {
    padding: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}

main img {
    width: 100%;
}

main img.pequena {    
    display: block;    
    margin: auto;
    max-width: 350px;
    min-width: 350px;
}

main a {
    padding: 2px;
    border-radius: 2px;
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: var(--cor2);
}

main a::after {
    content: '\00A0\1F4CE';
}

article {
    display: block;    
    padding: 30px;    
    border: 1px solid var(--cor3);
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    font-family: var(--fonte-padrao);
    font-weight: light;
    font-size: medium;
    line-height: 2;
}

article>h1 {    
    padding-bottom: 15px;
    border-bottom: 1px dashed var(--cor2);
    color: var(--cor4);
    font-family: idroid, sans-serif;
    font-weight: 500;
    text-align: center;
}

article>h2 {
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor3), transparent);    
    color: white;    
    font-family: idroid, sans-serif;
    font-weight: 500;
}

article>ul {
    list-style: none;
}

article>ul li:before {
    content: '✓ ';
}

.palavra {
    color: var(--cor3);
    font-weight: bold;
}

#video {    
    position: relative;
    padding: 20px; 
    padding-bottom: 59%;   
    margin: 0px -20px 30px -20px;
    background-color: var(--cor1);
}

#video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {    
    padding: 30px;    
    border-radius: 20px;
    margin: 40px;
    min-width: 800;
    max-width: 800px;
    background-color: var(--cor0);

}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside>h3 {
    padding: 10px;    
    border-radius: 10px 10px 0px 0px;
    margin: -30px -30px 0px -30px;
    background-color: var(--cor4);
    color: white;
}

footer {    
    padding: 15px;
    background-color: var(--cor4);    
    color: white;    
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {    
    padding: 1px;
    border-radius: 4px;
    background-color: var(--cor0);
    color: var(--cor4);
}